{% include "base.html" %}

{% block body %}
    <h4>All movies ({{ object_list.count }})</h4>
    {% for movie in object_list %}
        <p>{{ movie.name }} - rating ({{ movie.rating }}) - <a href="{% url 'movie_detail' movie.id %}">detail</a> - <a href="{% url 'update_movie' movie.id %}">update</a></p>
    {% endfor %}<br>

    <h4>Best movies ({{ best_movies.count }})</h4>
    {% for movie in best_movies %}
        <p>{{ movie.name }} - rating ({{ movie.rating }}) - <a href="{% url 'movie_detail' movie.id %}">detail</a> - <a href="{% url 'update_movie' movie.id %}">update</a></p>
    {% endfor %}<br>

    <h4>Worst movies ({{ worst_movies.count }})</h4>
    {% for movie in worst_movies %}
        <p>{{ movie.name }} - rating ({{ movie.rating }}) - <a href="{% url 'movie_detail' movie.id %}">detail</a> - <a href="{% url 'update_movie' movie.id %}">update</a></p>
    {% endfor %}
{% endblock body %}